<md-toolbar layout="column">
  <div class="md-toolbar-tools">
    <h1>Docker Registry</h1>
  </div>
</md-toolbar>

<md-subheader class="md-primary">Repositories</md-subheader>
<md-list>
  <div layout="row" layout-align="center center" ng-if="!vm.repositories">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <md-list-item ng-click="vm.openRepository(repository)"
                ng-repeat="repository in vm.repositories"
                aria-label="{{ repository }}">
    <p ng-bind="repository"></p>
  </md-list-item>
</md-list>
